<!DOCTYPE html>
<html lang="es">
	<head>
        {% load static %}

        <link rel="icon"   href="{% static 'nucleo/assets/images/icono_logo.ico' %}" type="image/png">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'nucleo/assets/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'nucleo/assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" />

		<!-- page specific plugin styles -->
        {% block plugin_css %}{% endblock %}

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'nucleo/assets/css/fonts.googleapis.com.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'nucleo/assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'nucleo/assets/css/ace-part2.min.css' %}" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'nucleo/assets/css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'nucleo/assets/css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'nucleo/assets/css/ace-ie.min.css' %}" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'nucleo/assets/js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'nucleo/assets/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'nucleo/assets/js/respond.min.js' %}"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state" style="background: #024174">
			<div class="navbar-container ace-save-state" id="navbar-container">

                <button type="button" class="navbar-toggle menu-toggler pull-left"
                        id="menu-toggler" data-target="#sidebar" style="background: #2E6589">
					<span class="sr-only">Desplegar barra de navegación</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

                <div class="navbar-header pull-left">
                    <a href="{% url 'index' %}" class="navbar-brand">
                        <i><img src="{% static 'nucleo/assets/images/icono_logo.ico' %}" class="msg-photo" /></i>
                        <small>
                            SISTEMA PARA LA GESTIÓN DE RECURSOS UNIREMINGTON
                        </small>
                    </a>
                </div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="green dropdown-modal">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-envelope-o"></i>
									5 Messages
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar">
										<li>
											<a href="#" class="clearfix">
												<img src="{% static 'nucleo/assets/images/avatars/avatar.png' %}" class="msg-photo" alt="Alex's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Alex:</span>
														Ciao sociis natoque penatibus et auctor ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
													</span>
												</span>
											</a>
										</li>

										<li>
											<a href="#" class="clearfix">
												<img src="{% static 'nucleo/assets/images/avatars/avatar3.png' %}" class="msg-photo" alt="Susan's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Susan:</span>
														Vestibulum id ligula porta felis euismod ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
													</span>
												</span>
											</a>
										</li>

										<li>
											<a href="#" class="clearfix">
												<img src="{% static 'nucleo/assets/images/avatars/avatar4.png' %}" class="msg-photo" alt="Bob's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Bob:</span>
														Nullam quis risus eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
													</span>
												</span>
											</a>
										</li>

										<li>
											<a href="#" class="clearfix">
												<img src="{% static 'nucleo/assets/images/avatars/avatar2.png' %}" class="msg-photo" alt="Kate's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span>
														Ciao sociis natoque eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
													</span>
												</span>
											</a>
										</li>

										<li>
											<a href="#" class="clearfix">
												<img src="{% static 'nucleo/assets/images/avatars/avatar5.png' %}" class="msg-photo" alt="Fred's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span>
														Vestibulum id penatibus et auctor  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
													</span>
												</span>
											</a>
										</li>
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="inbox.html">
										See all messages
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="dark-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{% static 'nucleo/assets/images/avatars/avatar2.png' %}" alt="Jason's Photo" />
								<span class="user-info">
									<small>Bienvenido,</small>
									{{ request.user.first_name }}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								{% if request.user.is_staff %}
                                <li>
									<a href="/admin" target="_blank">
										<i class="ace-icon fa fa-cog"></i>
										Administrador
									</a>
								</li>
                                {% endif %}

								<li>
									<a href="#">
										<i class="ace-icon fa fa-user"></i>
										Perfil
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/usuarios/logout/">
										<i class="ace-icon fa fa-power-off"></i>
										Cerrar Sesión
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<!-- /.nav-list -->
            <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<!-- /.sidebar-shortcuts -->
                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <div class="breadcrumbs ace-save-state">
                        <a href="{% url 'index' %}" class="navbar-brand">
                            <small>
                                Menú Sisgerecu
                            </small>
                        </a>
                    </div>
				</div>

				<ul class="nav nav-list">
					<li class="{% if request.path|slice:":24" == '/agendas/agenda_general/' %}active{% endif %}">
						<a href="{% url 'agenda_general.listar' %}">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
                                Agenda General
                            </span>
						</a>

						<b class="arrow"></b>
					</li>

                    {% if request.user.empleado.perfil.nombre == 'Docente' %}
					<li class="{% if request.path|slice:":19" == '/agendas/mi_agenda/' %}active{% endif %}">
						<a href="{% url 'mi_agenda.listar' %}">
							<i class="menu-icon fa fa-book"></i>
							<span class="menu-text">
								Mi Agenda
							</span>
						</a>

						<b class="arrow"></b>
					</li>
                    {% endif %}

                    {% if request.user.empleado.perfil.nombre == 'Administrativo' %}
					<li class="{% if request.path|slice:":16" == '/talento_humano/' %}active{% endif %}">
						<a href="{% url 'empleado.list' %}">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text">
                                Talento Humano
                            </span>
						</a>

						<b class="arrow"></b>
					</li>
                    {% endif %}

					{% if request.user.empleado.perfil.nombre == 'Administrativo' %}
                    <li class="{% if request.path|slice:":10" == '/recursos/' %}active open{% endif %}">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text">
                                Recursos
                            </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="{% if request.path|slice:":18" == '/recursos/fisicos/' %}active{% endif %}">
								<a href="{% url 'recursos.fisicos.listar' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Fisicos
								</a>

								<b class="arrow"></b>
							</li>

							<li class="{% if request.path|slice:":23" == '/recursos/tecnologicos/' %}active{% endif %}">
								<a href="{% url 'recursos.tecnologicos.listar' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Tecnologicos
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
                    {% endif %}
				</ul>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">

                        <ul class="breadcrumb">
							{% block breadcrumb %}{% endblock %}
						</ul><!-- /.breadcrumb -->

                        <!-- /.nav-search -->
					</div>

                    <!-- /.ace-settings-container -->

					<div class="page-content">
                        {% block header %}{% endblock %}
                        <!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                {% block content %}{% endblock %}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">

						<span class="action-buttons">
							<a href="https://twitter.com/Uni_Remington" target="_blank">
								<i class="ace-icon fa fa-twitter-square blue bigger-150"></i>
							</a>

							<a href="https://www.instagram.com/uniremingtontulua/" target="_blank">
								<i class="ace-icon fa fa-instagram red bigger-150"></i>
							</a>

							<a href="https://www.facebook.com/UniremingtonTulua" target="_blank">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>
						</span><br>

                        <span class="bigger-120">
                            SISGERECU
							<span class="blue bolder">UNIREMINGTON</span>
                            &copy; 2019
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{% static 'nucleo/assets/js/jquery-2.1.4.min.js' %}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script src="{% static 'nucleo/assets/js/jquery-1.11.3.min.js' %}"></script>
        <![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'nucleo/assets/js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
		</script>
		<script src="{% static 'nucleo/assets/js/bootstrap.min.js' %}"></script>

		<!-- page specific plugin scripts -->
        {% block js_extra %}{% endblock %}

		<!-- ace scripts -->
		<script src="{% static 'nucleo/assets/js/ace-elements.min.js' %}"></script>
		<script src="{% static 'nucleo/assets/js/ace.min.js' %}"></script>

		<!-- inline scripts related to this page -->
        {% block js_script %}{% endblock %}
	</body>
</html>