{% extends 'nucleo/base.html' %}
{% load static %}
{% load formato_fecha %}
{% block title %}Agenda General - G. R.{% endblock %}

{% block plugin_css %}
    {#  Calendario datefield  #}
    <link rel="stylesheet" href="{% static 'nucleo/assets/css/bootstrap-datepicker3.min.css' %}"/>
    {#  Galeria de imagenes  #}
    <link rel="stylesheet" href="{% static 'nucleo/assets/css/colorbox.min.css' %}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Agenda General</a>
    </li>

    <li class="active">Listar</li>
{% endblock %}

{% block header %}
    {% if request.user.empleado.perfil.nombre == 'Docente' %}
        <div class="pull-right hidden-xs" id="ace-settings-container">
            <a href="{% url 'agendas.crear' %}" class="btn btn-primary align-right">
                <i class="ace-icon fa glyphicon-plus align-center bigger-125"></i>
                Agendar Recursos
            </a>
        </div>
    {% endif %}

    <div class="page-header">
        <h1>
            {% if request.user.empleado.perfil.nombre == 'Docente' %}
                <a href="{% url 'agendas.crear' %}"
                   class="btn btn-primary btn-minier align-left hidden-md hidden-lg hidden-sm">
                    <i class="ace-icon fa glyphicon-plus align-center bigger-120 "></i>
                </a>
            {% endif %}
            Agenda General
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="get">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget-body">
                    <div class="widget-main">
                        <label for="id-date-picker-1">Fecha De Agenda</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-group">
                                    <input class="form-control date-picker"
                                           name="fecha" id="id-date-picker-1"
                                           type="text" data-date-format="dd-mm-yyyy"
                                           autocomplete="off"
                                           value="{{ request.GET.fecha }}"
                                    />
                                    <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                                    <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                    <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                    <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                    <span class="input-group-btn">
                                    <button type="submit" value="Filtrar" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-filter bigger-110"></i>Filtrar
                                    </button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="detail-col">Detalles</th>
                    <th>Responsable</th>
                    <th>Fecha de Reserva</th>
                    <th>Hora Inicio</th>
                    <th class="hidden-480">Hora Fin</th>
                    <th class="hidden-480">Recurso Físico</th>
                    <th class="hidden-480">Recurso Tecnologico</th>
                    {% if request.user.empleado.perfil.nombre == 'Servicios Generales' %}
                        <th><span class="hidden-480">Opciones</span></th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for reserva in agendas %}
                    <tr>
                        <td class="center">
                            <div class="action-buttons">
                                <a href="#" class="green bigger-140 show-details-btn" title="Ver Detalles">
                                    <i class="ace-icon fa fa-angle-double-down"></i>
                                    <span class="sr-only">Details</span>
                                </a>
                            </div>
                        </td>
                        <td>{{ reserva.usuario.nombre_completo }}</td>
                        <td>{{ reserva.fecha_separacion }}</td>
                        <td>{{ reserva.hora_separacion|formato_12_horas }}</td>
                        <td class="hidden-480">{{ reserva.hora_devolucion|formato_12_horas }}</td>
                        <td class="hidden-480">
                            <div class="hidden-sm hidden-xs btn-group">
                                <a href="#my-modal-f{{ reserva.id }}" role="button" class="btn btn-xs btn-warning"
                                   data-toggle="modal">
                                    <i class="ace-icon fa fa-camera bigger-120"></i>
                                </a>
                            </div>
                            {{ reserva.recurso_fisico }}
                        </td>
                        <td class="hidden-480">
                            {% if reserva.recurso_tecnologico.all %}
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a href="#my-modal-t{{ reserva.id }}" role="button" class="btn btn-xs btn-warning"
                                       data-toggle="modal">
                                        <i class="ace-icon fa fa-camera bigger-120"></i>
                                    </a>
                                </div>
                            {% endif %}
                            {% for recurso in reserva.recurso_tecnologico.all %}
                                {{ recurso }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            <div class="btn-group">
                                {% if not reserva.reserva_agenda.estado %}
                                    <a {% if request.user.empleado.perfil.nombre == 'Servicios Generales' %}
                                        href="{% url 'minuta.crear' reserva.id %}"
                                    {% endif %}
                                        role="button" class="btn btn-xs btn-warning" title="Entregar">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                    </a>
                                {% elif reserva.reserva_agenda.estado == 'E' %}
                                    <a {% if request.user.empleado.perfil.nombre == 'Servicios Generales' %}
                                        href="{% url 'minuta.actualizar' reserva.reserva_agenda.id %}"
                                    {% endif %}
                                        role="button" class="btn btn-xs btn-primary" title="Recibir">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                    </a>
                                {% else %}
                                    <a role="button"
                                       class="btn btn-xs btn-success" title="Recibido">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    <tr class="detail-row">
                        <td colspan="8">
                            <div class="table-detail">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2">
                                        <div class="text-center">
                                            <img height="150" class="thumbnail inline no-margin-bottom"
                                                 alt="{{ reserva.usuario }}"
                                                    {% if reserva.usuario.foto_perfil %}
                                                 src="{{ reserva.usuario.foto_perfil.url }}"
                                                    {% else %}
                                                 src="{% static 'nucleo/assets/images/avatars/profile-pic.jpg' %}"
                                                    {% endif %}
                                            />
                                            <br/>
                                            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                                <div class="inline position-relative">
                                                    <a class="user-title-label" href="#">
                                                        <i class="ace-icon fa fa-circle light-green"></i>
                                                        &nbsp;
                                                        <span class="white">{{ reserva.usuario.first_name }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-7">
                                        <div class="space visible-xs"></div>

                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Usuario</div>

                                                <div class="profile-info-value">
                                                    <span>{{ reserva.usuario.username }}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Celular</div>

                                                <div class="profile-info-value">
                                                    <span>{{ reserva.usuario.celular }}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Edad</div>

                                                <div class="profile-info-value">
                                                    <span>{{ reserva.usuario.empleado.edad }}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Ingresó</div>

                                                <div class="profile-info-value">
                                                    <span>{{ reserva.usuario.empleado.fecha_ingreso }}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Ultimo inicio de sesión</div>

                                                <div class="profile-info-value">
                                                    <span>{{ reserva.usuario.last_login }}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Formación profesional</div>

                                                <div class="profile-info-value">
                                                        <span>
                                                            {% if reserva.usuario.empleado.titulo_obtenido %}
                                                                {{ reserva.usuario.empleado.titulo_obtenido }}
                                                            {% endif %}
                                                            {% if reserva.usuario.empleado.carrera_profesional %}
                                                                , {{ reserva.usuario.empleado.carrera_profesional }}
                                                            {% endif %}
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if reserva.usuario != request.user %}
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="space visible-xs"></div>
                                            <h4 class="header less-margin">Enviar mensaje
                                                a {{ reserva.usuario.first_name }}</h4>

                                            <div class="space-6"></div>

                                            <div class="li-new-mail">
                                                <a href="{% url 'comunicacion.crear' reserva.id %}"
                                                   class="btn-new-mail">
                                                    <span class="btn btn-primary no-border">
                                                        <i class="ace-icon fa fa-envelope bigger-130"></i>
                                                        <span class="bigger-110">Contactar</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>

                    <div id="my-modal-f{{ reserva.id }}" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="smaller lighter blue no-margin">{{ reserva.recurso_fisico.nombre }}</h3>
                                </div>

                                <div class="modal-body">
                                    <div>
                                        <ul class="ace-thumbnails clearfix">
                                            {% for foto in reserva.recurso_fisico.galeria_rf.all %}
                                                <li>
                                                    <a data-rel="colorbox">
                                                        <img width="150" height="150" alt="150x150"
                                                             src="{{ foto.imagen.url }}"/>
                                                        <div class="text">
                                                            <div class="inner">{{ foto }}</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>

                    <div id="my-modal-t{{ reserva.id }}" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="smaller lighter blue no-margin">
                                        {% for recurso in reserva.recurso_tecnologico.all %}
                                            {{ recurso }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </h3>
                                </div>

                                <div class="modal-body">
                                    <div>
                                        <ul class="ace-thumbnails clearfix">
                                            {% for recurso in reserva.recurso_tecnologico.all %}
                                                {% for foto in recurso.galeria_rt.all %}
                                                    <li>
                                                        <a data-rel="colorbox">
                                                            <img width="150" height="150" alt="150x150"
                                                                 src="{{ foto.imagen.url }}"/>
                                                            <div class="text">
                                                                <div class="inner">{{ foto }}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                {% empty %}
                    <tr>
                        <td colspan="8" align="center">
                            No existen solicitudes registradas en la agenda en este momento.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="display:none">
        <div class="col-xs-12">
            <div>
                <table id="dynamic-table">
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
    {#  Calendario datefield  #}
    <script src="{% static 'nucleo/assets/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/moment.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-colorpicker.min.js' %}"></script>
    {#  Galeria de imagenes  #}
    <script src="{% static 'nucleo/assets/js/jquery.colorbox.min.js' %}"></script>
    {#  Tabla despleglable  #}
    <script src="{% static 'nucleo/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/jquery.dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/dataTables.select.min.js' %}"></script>
{% endblock %}

{% block js_script %}
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });

            //make content sliders resizable using jQuery UI (you should include jquery ui files)
            //$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});

            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
            //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            // función despliegue de detalles
            /***************/
            $('.show-details-btn').on('click', function (e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/
        });
    </script>
{% endblock %}