{% extends 'nucleo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block plugin_css %}
    <link rel="stylesheet" href="{% static 'nucleo/assets/css/select2.min.css' %}" />
{% endblock %}

{% block title %}Agendar Recurso - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Mi Agenda</a>
    </li>

    <li class="active">Crear</li>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            Mi Agenda
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-5">
        <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
            <br>
            <button type="submit" value="Crear" class="btn btn-primary"><i class="ace-icon fa fa-check bigger-120"></i>Crear</button>
            <a href="{% url 'mi_agenda.listar' %}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
{% endblock %}

{% block js_extra %}
    <script src="{% static 'nucleo/assets/js/select2.min.js' %}"></script>
{% endblock %}

{% block js_script %}
    <script>
        jQuery(function ($) {
            //////////////////
            //select2
            $('.select2').css('width', '200px').select2({allowClear: true})
            $('#select2-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('.select2').addClass('tag-input-style');
                else $('.select2').removeClass('tag-input-style');
            });

            //////////////////

            //in ajax mode, remove remaining elements before leaving page
            $(document).one('ajaxloadstart.page', function (e) {
                $('[class*=select2]').remove();
                $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
                $('.rating').raty('destroy');
                $('.multiselect').multiselect('destroy');
            });
        });
    </script>
{% endblock %}