{% extends 'nucleo/base.html' %}
{% block title %}Mi Agenda - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Mi Agenda</a>
    </li>

    <li class="active">Listar</li>
{% endblock %}

{% block header %}
    <div class="ace-settings-container" id="ace-settings-container">
        <a href="{% url 'agendas.crear' %}" class="btn btn-primary align-right">
            <i class="ace-icon fa fa-flask align-top bigger-125"></i>
            Agendar Recursos
        </a>
    </div>

    <div class="page-header">
        <h1>
            Mi Agenda
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Coorporación Universitaria Remington
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Responsable</th>
                        <th>Fecha Separacion</th>
                        <th>Hora Separacion</th>
                        <th>Hora Devolución</th>
                        <th>Recurso Fisico</th>
                        <th>Recurso Tecnologico</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for reserva in agendas %}
                        <tr>
                            <td>{{ reserva.usuario.nombre_completo }}</td>
                            <td>{{ reserva.fecha_separacion }}</td>
                            <td>{{ reserva.hora_separacion }}</td>
                            <td>{{ reserva.hora_devolucion }}</td>
                            <td>{{ reserva.recurso_fisico }}</td>
                            <td>
                                {% for recurso in reserva.recurso_tecnologico.all %}
                                {{ recurso }} {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <button class="btn btn-xs btn-success">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                    </button>

                                    <a href="{% url 'agendas.actualizar' reserva.id %}" class="btn btn-xs btn-info">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>

                                    <a href="{% url 'agendas.eliminar' reserva.id %}" class="btn btn-xs btn-danger">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>

                                    <button class="btn btn-xs btn-warning">
                                        <i class="ace-icon fa fa-camera bigger-120"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" align="center">
                                No existen solicitudes registradas en la agenda en este momento.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js_script %}
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function($) {
            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function(e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });


            //make content sliders resizable using jQuery UI (you should include jquery ui files)
            //$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});
        })
    </script>
{% endblock %}