{% extends 'nucleo/base.html' %}
{% load static %}
{% load formato_fecha %}
{% block title %}Mi Agenda - G. R.{% endblock %}

{% block plugin_css %}
    {#  Calendario datefield  #}
    <link rel="stylesheet" href="{% static 'nucleo/assets/css/bootstrap-datepicker3.min.css' %}" />
    {#  Galeria de imagenes  #}
    <link rel="stylesheet" href="{% static 'nucleo/assets/css/colorbox.min.css' %}" />
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Mi Agenda</a>
    </li>

    <li class="active">Listar</li>
{% endblock %}

{% block header %}
    <div class="ace-settings-container hidden-xs" id="ace-settings-container">
        <a href="{% url 'agendas.crear' %}" class="btn btn-primary align-right">
            <i class="ace-icon fa glyphicon-plus align-center bigger-125"></i>
            Agendar Recursos
        </a>
    </div>

    <div class="page-header">
        <h1>
            <a href="{% url 'agendas.crear' %}"
               class="btn btn-primary btn-minier align-left hidden-md hidden-lg hidden-sm">
                <i class="ace-icon fa glyphicon-plus align-center bigger-120 "></i>
            </a>
            Mi Agenda
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="get">
    <div class="row">
        <div class="col-sm-4">
            <div class="widget-body">
                <div class="widget-main">
                    <label for="id-date-picker-1">Fecha De Agenda</label>
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker"
                                       name="fecha" id="id-date-picker-1"
                                       type="text" data-date-format="dd-mm-yyyy"
                                       autocomplete="off"
                                       value="{{ request.GET.fecha }}"
                                />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                                <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                <span class="input-group-btn"></span><span class="input-group-btn"></span>
                                <span class="input-group-btn">
                                    <button type="submit" value="Filtrar" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-filter bigger-110"></i>Filtrar
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Responsable</th>
                        <th>Fecha de Reserva</th>
                        <th>Hora Inicio</th>
                        <th class="hidden-480">Hora Fin</th>
                        <th class="hidden-480">Recurso Físico</th>
                        <th class="hidden-480">Recurso Tecnologico</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for reserva in agendas %}
                        <tr>
                            <td>{{ reserva.usuario.nombre_completo }}</td>
                            <td>{{ reserva.fecha_separacion }}</td>
                            <td>{{ reserva.hora_separacion|formato_12_horas }}</td>
                            <td class="hidden-480">{{ reserva.hora_devolucion|formato_12_horas }}</td>
                            <td class="hidden-480">
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a href="#my-modal-f{{ reserva.id }}" role="button" class="btn btn-xs btn-warning"
                                       data-toggle="modal">
                                        <i class="ace-icon fa fa-camera bigger-120"></i>
                                    </a>
                                </div>
                                {{ reserva.recurso_fisico }}
                            </td>
                            <td class="hidden-480">
                            {% if reserva.recurso_tecnologico.all %}
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a href="#my-modal-t{{ reserva.id }}" role="button" class="btn btn-xs btn-warning"
                                       data-toggle="modal">
                                        <i class="ace-icon fa fa-camera bigger-120"></i>
                                    </a>
                                </div>
                            {% endif %}
                                {% for recurso in reserva.recurso_tecnologico.all %}
                                    {{ recurso }} {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">

                                    <a href="{% url 'agendas.actualizar' reserva.id %}" class="btn btn-xs btn-info">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>

                                    <a href="{% url 'agendas.eliminar' reserva.id %}" class="btn btn-xs btn-danger">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>

                        <div id="my-modal-f{{ reserva.id }}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="smaller lighter blue no-margin">{{ reserva.recurso_fisico.nombre }}</h3>
                                    </div>

                                    <div class="modal-body">
                                        <div>
                                            <ul class="ace-thumbnails clearfix">
                                                {% for foto in reserva.recurso_fisico.galeria_rf.all %}
                                                    <li>
                                                        <a href="{{foto.imagen.url}}" data-rel="colorbox">
                                                            <img width="150" height="150" alt="150x150"
                                                                 src="{{foto.imagen.url}}" />
                                                            <div class="text">
                                                                <div class="inner">{{ foto }}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                            <i class="ace-icon fa fa-times"></i>
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>

                        <div id="my-modal-t{{ reserva.id }}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="smaller lighter blue no-margin">
                                            {% for recurso in reserva.recurso_tecnologico.all %}
                                                {{ recurso }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </h3>
                                    </div>

                                    <div class="modal-body">
                                        <div>
                                            <ul class="ace-thumbnails clearfix">
                                            {% for recurso in reserva.recurso_tecnologico.all %}
                                                {% for foto in recurso.galeria_rt.all %}
                                                    <li>
                                                        <a href="{{foto.imagen.url}}" data-rel="colorbox">
                                                            <img width="150" height="150" alt="150x150"
                                                                 src="{{foto.imagen.url}}" />
                                                            <div class="text">
                                                                <div class="inner">{{ foto }}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                            <i class="ace-icon fa fa-times"></i>
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    {% empty %}
                        <tr>
                            <td colspan="8" align="center">
                                No existen solicitudes registradas en la agenda en este momento.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
    {#  Calendario datefield  #}
    <script src="{% static 'nucleo/assets/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/moment.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'nucleo/assets/js/bootstrap-colorpicker.min.js' %}"></script>
    {#  Galeria de imagenes  #}
    <script src="{% static 'nucleo/assets/js/jquery.colorbox.min.js' %}"></script>
{% endblock %}

{% block js_script %}
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function($) {
            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function(e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });

            //make content sliders resizable using jQuery UI (you should include jquery ui files)
            //$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});

            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function(){
                $(this).prev().focus();
            });

            //galeria plugin
            var $overflow = '';
            var colorbox_params = {
                rel: 'colorbox',
                reposition:true,
                scalePhotos:true,
                scrolling:false,
                previous:'<i class="ace-icon fa fa-arrow-left"></i>',
                next:'<i class="ace-icon fa fa-arrow-right"></i>',
                close:'&times;',
                current:'{current} de {total}',
                maxWidth:'500px',
                maxHeight:'500px',
                onOpen:function(){
                    $overflow = document.body.style.overflow;
                    document.body.style.overflow = 'hidden';
                },
                onClosed:function(){
                    document.body.style.overflow = $overflow;
                },
                onComplete:function(){
                    $.colorbox.resize();
                }
            };

            $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
            $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


            $(document).one('ajaxloadstart.page', function(e) {
                $('#colorbox, #cboxOverlay').remove();
           });
        })
    </script>
{% endblock %}