{% extends 'nucleo/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Actualizar Empleado - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Talento Humano</a>
    </li>

    <li class="active">Actualizar</li>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            Talento Humano
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Coorporación Universitaria Reminton
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-5">
        <form action="" method="post">{% csrf_token %}
                {{ form_user|crispy }}
                {{ form|crispy }}
            <br>
            <button type="submit" value="Actualizar" class="btn btn-primary"><i class="ace-icon fa fa-check bigger-120"></i>Actualizar</button>
            <a href="{% url 'empleado.list' %}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
{% endblock %}