{% extends 'nucleo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if 'ok' in request.GET %}
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        ¡Perfil actualizado exitosamente!
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form_user|crispy }}
        {{ form|crispy }}
        <br>
        <button type="submit" value="Actualizar" class="btn btn-primary">
            <i class="ace-icon fa fa-check bigger-120"></i>Actualizar
        </button>
        <a href="{% url 'mi_agenda.listar' %}" class="btn btn-default">Ir a Mi Agenda</a>
    </form>
{% endblock %}