{% extends 'nucleo/base.html' %}
{% block title %}Recursos Fisicos - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">Recursos Fisicos</a>
    </li>

    <li class="active">Listar</li>
{% endblock %}

{% block header %}
    <div class="ace-settings-container" id="ace-settings-container">
        <a href="{% url 'recursos.fisicos.crear' %}" class="btn btn-primary align-right">
            <i class="ace-icon fa fa-flask align-top bigger-125"></i>
            Crear Recurso Físico
        </a>
    </div>

    <div class="page-header">
        <h1>
            Recursos Fisicos
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicacion</th>
                        <th>Capacidad</th>
                        <th>Caracteristicas</th>
                        <th>Contenido</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for recurso in recursos_fisicos %}
                        <tr>
                            <td>{{ recurso.nombre }}</td>
                            <td>{{ recurso.ubicacion }}</td>
                            <td>{{ recurso.capacidad }} personas</td>
                            <td>{{ recurso.caracteristicas }}</td>
                            <td>{{ recurso.contenido }}</td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <button class="btn btn-xs btn-success">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                    </button>

                                    <a href="{% url 'recursos.fisicos.actualizar' recurso.id %}" class="btn btn-xs btn-info">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>

                                    <a href="{% url 'recursos.fisicos.eliminar' recurso.id %}" class="btn btn-xs btn-danger">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>

                                    <a href="#my-modal" role="button" class="btn btn-xs btn-warning" data-toggle="modal">
                                        <i class="ace-icon fa fa-camera bigger-120"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <div id="my-modal" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="smaller lighter blue no-margin">A modal with a slider in it!</h3>
                                    </div>

                                    <div class="modal-body">
                                        Some content
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        1 {{ recurso.nombre }}
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        2
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                            <i class="ace-icon fa fa-times"></i>
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    {% empty %}
                        <tr>
                            <td colspan="8" align="center">
                                No existen recursos fisicos registrados en este momento.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js_script %}
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function($) {
            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function(e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });


            //make content sliders resizable using jQuery UI (you should include jquery ui files)
            //$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});
        })
    </script>
{% endblock %}