{% extends 'nucleo/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cambiar Contraseña - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a>Configuración</a>
    </li>

    <li class="active">Cambiar Contraseña</li>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            Configuración
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
    <button class="btn btn-primary" type="submit">
        <i class="ace-icon fa fa-key bigger-120"></i>Cambiar contraseña
    </button>
    </form>
{% endblock %}