{% extends 'nucleo/base.html' %}

{% block title %}Cambiar Contraseña - G. R.{% endblock %}

{% block breadcrumb %}
    <li>
        <a>Configuración</a>
    </li>

    <li class="active">Cambiar Contraseña</li>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            Configuración
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Corporación UNIREMINGTON
            </small>
        </h1>
    </div>
{% endblock %}


{% block content %}
    <div class="well">
        <h4 class="green smaller lighter">Cambio exitoso!</h4>
        Su cambio de contraseña se completó exitosamente.
    </div>
{% endblock %}